/* ==========  UTILS ========== */
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// @media screen and (max-width: $sm) {
// @media screen and (min-width: $sm) and (max-width: $lg) {
// @media screen and (min-width: $lgg) {

.d-flex {
    display: flex;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 90vw;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}



