/* ==========  UTILS ========== */
$sm: 576px;
$container-sm: 540px;
$md: 768px;
$container-md: 720px;
$lg: 992px;
$container-lg: 960px;
$xl: 1200px;
$container-xl: 1140px;
$xxl: 1400px;
$container-xxl: 1320px;

// @media screen and (max-width: $sm) {
// @media screen and (min-width: $sm) and (max-width: $lg) {
// @media screen and (min-width: $lgg) {

.d-flex {
    display: flex;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 90vw;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

// @media (min-width: $xl) {
//     .container {
//         max-width: $container-xl;
//     }
// }


