/* ==========  CUP ========== */
.main__cup  {
    width: $cup--width;
    height: $cup--height;
    clip-path: inset(0 $cup--width 0px $cup--width round 0px 0px $border-radius-2 $border-radius-2);
    background: $color--white;
    position: absolute;
    bottom: 0;
    left: calc(50% - ($cup--width/2));
}

.main__cup__border {
    background-color: rgba($color--white, 30%);
    width: $cup--width;
    height: $cup--height;    
    position: absolute;

    bottom: 0;
    left: calc(50% - ($cup--width/2));
    border-bottom-left-radius: $border-radius-2;
    border-bottom-right-radius: $border-radius-2;
    border-bottom: 28px solid $color--white;
    z-index: 30;
}

.main__cup__liquid {
    width: $cup--liquid--width;
    height: $cup--liquid--height;
    clip-path: inset(0 $cup--liquid--width 0px $cup--liquid--width round 0px 0px $border-radius-2 $border-radius-2);
    
    position: absolute;
    bottom: 20px;
    left: calc(50% - ($cup--liquid--width / 2));
    z-index: 28;
    
    // if selected coffee is espresso : change background and animation
    &[data-choice="espresso"] {
        background: linear-gradient(0deg, $color--coffee--1 60%, transparent 40%);
        animation: fill-espresso 5s ease forwards;
        animation-delay: 2s;
        background-size: 250% 250%;
    }

    // if selected coffee is americano : change background and animation
    &[data-choice="americano"] {
        background: linear-gradient(0deg, $color--coffee--1 60%, transparent 40%);
        animation: fill-lfong-coffee 9s ease forwards;
        animation-delay: 2s;
        background-size: 250% 250%;
    }

    // if selected coffee is latte : change background and animation
    &[data-choice="latte"] {
        background: linear-gradient(0deg, $color--coffee--3 60%, transparent 40%);
        animation: fill-long-coffee 9s ease forwards;
        animation-delay: 2s;
        background-size: 250% 250%;
    }

    // if selected coffee is cappuccino : change background and animation
    &[data-choice="cappuccino"] {
        background: linear-gradient(0deg, $color--coffee--2 0%, $color--coffee--4 35%,  $color--coffee--3 60%, transparent 40%);
        animation: fill-long-coffee 9s ease forwards;
        animation-delay: 2s;
        background-size: 250% 250%;
    }

}

/* ==========  LIQUID ========== */
.liquid {
    position: absolute;
    width: 15px;
    z-index: 5;
    margin-left: 5px;
    margin-top: 13px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    &[data-flowing="true"] {
        animation: flowing-liquid 6s ease;
    }
}

.liquid-coffee {
    background-color: $color--coffee--1;
}
.liquid-milk {
    background-color: $color--coffee--4;
}

