/* ==========  VARIABLES ========== */
/* ==========  UTILS ========== */
.d-flex {
  display: flex;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 90vw;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* ==========  ANIMATE ========== */
@keyframes fill-espresso {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 30%;
  }
}
@keyframes fill-long-coffee {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}
@keyframes flowing-liquid {
  0% {
    height: 0px;
    top: 0;
  }
  80% {
    height: 200px;
    top: 0;
    animation-timing-function: cubic-bezier(1, 1, 1, 1);
  }
  100% {
    height: 0px;
    top: 200px;
  }
}
@keyframes on-lighting {
  0% {
    box-shadow: 0 0 8px #fff, inset 0 0 8px #fff, 0 0 16px #6ddd35, inset 0 0 16px #bcf7a0, 0 0 32px #bcf7a0, inset 0 0 215px #6ddd35;
  }
  50% {
    box-shadow: 0 0 16px #fff, inset 0 0 16px #fff, 0 0 16px #bcf7a0, inset 0 0 16px #bcf7a0, 0 0 32px #bcf7a0, inset 0 0 215px #bcf7a0;
  }
  100% {
    box-shadow: 0 0 8px #fff, inset 0 0 8px #fff, 0 0 16px #6ddd35, inset 0 0 16px #6ddd35, 0 0 32px #6ddd35, inset 0 0 215px #6ddd35;
  }
}
/* ==========  TYPOGRAPHY ========== */
html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 1.8rem;
  font-family: "Barlow Condensed";
  margin: 0;
}

h1, h2, h3, .title {
  font-family: "Karantina";
}

h2 {
  font-size: 4rem;
  margin-bottom: 0;
}

.subtitle {
  font-size: 2rem;
  margin-top: 10px;
}

.item__title {
  margin: 5px 0;
}

/* ==========  WEBFONTS ========== */
/* karantina-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Karantina";
  font-style: normal;
  font-weight: 300;
  src: url("../webfonts/karantina/karantina-v11-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* karantina-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Karantina";
  font-style: normal;
  font-weight: 400;
  src: url("../webfonts/karantina/karantina-v11-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* karantina-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Karantina";
  font-style: normal;
  font-weight: 700;
  src: url("../webfonts/karantina/karantina-v11-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-condensed-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 300;
  src: url("../webfonts/barlow/barlow-condensed-v12-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-condensed-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("../webfonts/barlow/barlow-condensed-v12-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-condensed-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 600;
  src: url("../webfonts/barlow/barlow-condensed-v12-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-condensed-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 800;
  src: url("../webfonts/barlow/barlow-condensed-v12-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* ========== MACHINE ========== */
.machine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.machine__top__element-1, .machine__top__element-2, .machine__bottom {
  background-color: #F5C40A;
}

.machine__top__element-1 {
  height: 75px;
  width: 400px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: 0px;
  margin: 0 auto;
}

.machine__top__element-2 {
  height: 155px;
  width: 450px;
  border-radius: 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
}
.machine__top__element-2 .machine__top__circle-1 {
  background-color: #F5420A;
  width: 15px;
  height: 15px;
  border-radius: 100%;
}
.machine__top__element-2 .machine__top__circle-1[data-light=true] {
  animation: on-lighting 2s ease infinite;
}
.machine__top__element-2 .machine__top__circle-2, .machine__top__element-2 .machine__top__circle-3 {
  background-color: #000000;
  width: 35px;
  height: 35px;
  border-radius: 100%;
}
.machine__top__element-2 .machine__top__element-2-buttons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  gap: 15px;
}
.machine__top__element-2 .machine__top__rectangle-1 {
  background-color: #ffffff;
  border-radius: 60px;
  height: 45px;
  width: 120px;
}

.machine__middle {
  background-color: #DBDBDB;
  height: 310px;
  width: 370px;
  position: relative;
}

.machine__middle__distrib {
  background-color: #D1D1D1;
  width: 50%;
  height: 100%;
  margin: 0 auto;
}
.machine__middle__distrib .machine__distrib__top, .machine__middle__distrib .machine__distrib__middle {
  background-color: #000000;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.machine__middle__distrib .machine__distrib__top {
  height: 25px;
}
.machine__middle__distrib .machine__distrib__middle {
  height: 60px;
  width: 70%;
  margin: 0 auto;
}
.machine__middle__distrib .machine__distrib__pourer {
  width: 65%;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  position: relative;
}
.machine__middle__distrib .machine__distrib__pourer-1, .machine__middle__distrib .machine__distrib__pourer-2 {
  background-color: #000000;
  width: 25px;
  height: 15px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 6;
}

.machine__bottom {
  height: 90px;
  width: 450px;
  border-radius: 20px;
}

/* ==========  CUP ========== */
.main__cup {
  width: 160px;
  height: 170px;
  -webkit-clip-path: inset(0 160px 0px 160px round 0px 0px 60px 60px);
          clip-path: inset(0 160px 0px 160px round 0px 0px 60px 60px);
  background: #ffffff;
  position: absolute;
  bottom: 0;
  left: calc(50% - 80px);
}

.main__cup__border {
  background-color: rgba(255, 255, 255, 0.3);
  width: 160px;
  height: 170px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 80px);
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  border-bottom: 28px solid #ffffff;
  z-index: 30;
}

.main__cup__liquid {
  width: 130px;
  height: 130px;
  -webkit-clip-path: inset(0 130px 0px 130px round 0px 0px 60px 60px);
          clip-path: inset(0 130px 0px 130px round 0px 0px 60px 60px);
  position: absolute;
  bottom: 20px;
  left: calc(50% - 65px);
  z-index: 28;
}
.main__cup__liquid[data-choice=espresso] {
  background: linear-gradient(0deg, #2B1007 60%, transparent 40%);
  animation: fill-espresso 5s ease forwards;
  animation-delay: 2s;
  background-size: 250% 250%;
}
.main__cup__liquid[data-choice=americano] {
  background: linear-gradient(0deg, #2B1007 60%, transparent 40%);
  animation: fill-long-coffee 9s ease forwards;
  animation-delay: 2s;
  background-size: 250% 250%;
}
.main__cup__liquid[data-choice=latte] {
  background: linear-gradient(0deg, #AC794A 60%, transparent 40%);
  animation: fill-long-coffee 9s ease forwards;
  animation-delay: 2s;
  background-size: 250% 250%;
}
.main__cup__liquid[data-choice=cappuccino] {
  background: linear-gradient(0deg, #533312 0%, #E7C8A6 35%, #AC794A 60%, transparent 40%);
  animation: fill-long-coffee 9s ease forwards;
  animation-delay: 2s;
  background-size: 250% 250%;
}

/* ==========  LIQUID ========== */
.liquid {
  position: absolute;
  width: 15px;
  z-index: 5;
  margin-left: 5px;
  margin-top: 13px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.liquid[data-flowing=true] {
  animation: flowing-liquid 6s ease;
}

.liquid-coffee {
  background-color: #2B1007;
}

.liquid-milk {
  background-color: #FFF5EA;
}

/* ========== MENU ========== */
.menu__board {
  background-color: #2B1007;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  position: relative;
  margin-bottom: 80px;
  width: 350px;
  height: 485px;
}
.menu__board .menu__tong {
  position: absolute;
  top: -20px;
  left: calc(50% - 60px);
}
.menu__board .menu__tong .menu__tong__element-1, .menu__board .menu__tong .menu__tong__element-2 {
  background-color: #D1D1D1;
}
.menu__board .menu__tong .menu__tong__element-1 {
  width: 25px;
  height: 30px;
  margin: 0 auto;
}
.menu__board .menu__tong .menu__tong__element-2 {
  width: 120px;
  height: 30px;
}

.menu__paper {
  text-align: center;
  background-color: #FFF5EA;
  width: 100%;
  height: 100%;
}

.menu__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}
.menu__list .menu__item:hover {
  cursor: pointer;
}

/* ==========  COUNTER ========== */
.bar__furniture {
  position: relative;
  z-index: 3;
}

.bar__counter {
  background-color: #2B1007;
  border-radius: 20px;
  width: 100%;
  height: 110px;
}

.bar__base {
  background-color: #2B1007;
  width: 85%;
  margin: 0 auto;
  height: calc(25vh - 110px);
}

/* ==========  PLANTS ========== */
.plants {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  position: absolute;
  right: 20%;
}
.plants .plant {
  max-width: 120px;
}

.plant {
  margin-bottom: -10px;
  position: relative;
  z-index: 1;
}

.plant-1 {
  max-width: 230px;
}

@media (max-width: 1400px) {
  .d-lg-none {
    display: none;
  }
  .plants {
    right: 250px;
  }
}
/* ========== PAGE ========== */
body {
  background-color: #FFF5EA;
  background-blend-mode: hard-light;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  width: 100vw;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 80px;
}

.bar {
  width: 100vw;
  height: 25vh;
}

.menu__responsive {
  display: none;
}

@media (max-width: 768px) {
  .main__left, .menu__paper .menu__list {
    display: none;
  }
  .menu__responsive {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */